<div class="container mt-4">
  <div class="products-header">
    <h1 class="logo">UniverMart</h1>
    <button class="cart-icon" (click)="openCart()">
      <i class="fas fa-shopping-cart"></i>
      <span *ngIf="cartItemCount > 0" class="item-count">{{
        cartItemCount
      }}</span>
    </button>
  </div>
  <div class="list-controls">
    <div class="page-size-container">
      <div>Results per page:</div>
      <select
        class="page-size"
        [(ngModel)]="pageSize"
        (change)="onPageSizeChange()"
      >
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
      </select>
    </div>
    <div class="search-container">
      <input
        type="text"
        placeholder="Search products..."
        [(ngModel)]="searchQuery"
        (keyup.enter)="performSearch()"
        class="search-input"
      />
      <button type="button" class="search-btn" (click)="performSearch()">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>

  <div class="row">
    <div *ngIf="loading" class="text-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div
      class="col-6 col-md-4 col-lg-3 mb-4"
      *ngFor="let product of filteredProducts"
    >
      <app-product-card [product]="product"></app-product-card>
    </div>
  </div>
</div>
